doctype html
html
  head
    meta(charset="utf-8")
    meta(name="description" content="")
    link(rel="stylesheet" href="css/style.css")
    <script type="text/javascript" src="js/jquery-2.2.4.min.js" defer></script>
    <script type="text/javascript" src="js/main.js" defer></script>
  body(class="main")
    .game
      .sea.sea_player
      .sea.sea_enemy